.app {
  

  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;
  background-color: #74b9ff;

}

.section1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.section2{
  display: flex;
  flex-direction: colum;
  justify-content: center;
  align-items: center;
}

.space{
  height: 15%;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1 input{
   padding: 10px;
   font-size: 16px;
   border: 2px solid #FFF;
   width:165px; 
   font-family: "Comic Sans MS", cursive, sans-serif;
}



.section1 button{
  padding:10px;
  font-size: 16px;
  margin:10px;
  margin-right: 0px;
  background-color: #0066FF;
  color:#FFF;
  border: 2px solid #0066FF;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.section1 button:hover{
   background-color: #003399;
   border:2px solid #003399;
   cursor: pointer;
}
 
.title p{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 50px;
  font-weight: bold;
  -webkit-text-stroke-width: 2px; 
  -webkit-text-stroke-color: white;  
}

.section2 li{
  color:#333;
  background-color: rgba(255,255,255,0.5);
  padding:15px;
  margin-bottom: 15px;
  border-radius:5px;
  
  width: 380px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  display: flex;
  justify-content: space-between;

}

.section2 button{
  width: 30px;
  border-radius: 4px;
  background-color: #0066FF;
  color:#FFF;
  border: 0px solid #0066FF;
}

.section2 ul{
  padding:0;
}